/* ROOT */

@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Jost:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Fugaz+One&display=swap");
@import url("https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css");
@import url("https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css");

@font-face {
  font-family: "Gilroy Heavy Italic";
  src: url("./assets/fonts/Gilroy-HeavyItalic.ttf");
}
@font-face {
  font-family: "Montserrat Black Italic";
  src: url("./assets/fonts/Montserrat-BlackItalic.otf");
}
/* Posible fondogradiente

1) background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
2) background-image: linear-gradient(to top, #0250c5 0%, #d43f8d 100%);
*/
* {
  --primary-color: #ef233c;
  --primary-font: "Montserrat Black Italic";
  --secondary-font: "Gilroy Heavy Italic";
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

a {
  text-decoration: none;
}
/* a:hover {
  text-decoration: none;
} */

/* HOME */

/* .titleHome {
  font-family: 'Anton', sans-serif;
  
} */

/* INICIO */

/* .inicio {
  width: 90vw;
} */

.containerElements {
  display: flex;
  flex-direction: column;
}
.video {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 40%;
  height: 120%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.titleInicio {
  font-family: "Montserrat Black Italic";
  color: #ef233c;
  letter-spacing: 0.1rem;
  font-size: 4rem;
  display: block;
  white-space: nowrap;
  border-right: 4px solid;
  width: 13ch;

  animation: typing 2s steps(13), blink 0.5s infinite step-end alternate;
  overflow: hidden;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.spanHome {
  display: flex;
  justify-content: center;
}
i {
  color: #fee600;
  font-size: 4rem;
  cursor: pointer;
  display: flex;
  justify-content: center;

  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name: parpadeo;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo {
  0% {
    opacity: 2;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 2;
  }
}

@-webkit-keyframes parpadeo {
  0% {
    opacity: 2;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 2;
  }
}

@keyframes parpadeo {
  0% {
    opacity: 2;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 2;
  }
}

.btnInicio {
  background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
  padding: 0.5rem;
  border-radius: 1rem;
  border-style: none;
  cursor: pointer;
  font-family: "Montserrat Black Italic";
}
.containerBtn {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
a {
  text-decoration: none;
}
.textBtn {
  color: #000000da;
  font-size: 1rem;
}
.parrafoHome {
  font-family: "Gilroy Heavy Italic";
  font-size: 1.2rem;
  color: var(--primary-color);
  text-align: center;
  padding: 1rem;
}
/* Main */

.main {
  display: flex;
  margin-top: 5.2rem;
  background-image: url("./assets/fondo-main.png");
  background-size: cover;
  margin-bottom: 1.5rem;
  height: 100vh;
  width: 95vw;
}
.containerMain {
  display: flex;
  flex-direction: column;
}
.containerCriptos {
  margin-left: 4rem;
  margin-top: 2rem;
}
.criptos {
  width: 30%;
  height: 40%;
  cursor: pointer;
}
.criptoBTC {
  width: 25%;
  cursor: pointer;
  margin-left: 2rem;
}
.criptoETH {
  width: 25%;
  height: 40%;
  cursor: pointer;
  margin-left: 1rem;
}
.criptoMana {
  width: 25%;
  height: 40%;
  cursor: pointer;
}
.criptoETC {
  width: 28%;
  height: 40%;
  cursor: pointer;
  margin-left: 2rem;
}
.textMain {
  font-family: "Montserrat Black";
  font-size: 5rem;
  color: var(--primary-color);
  display: flex;
  justify-content: end;
  margin-right: 3.8rem;
}
.parrafoMain {
  font-family: "Gilroy Heavy Italic";
  font-size: 2rem;
  color: rgb(0, 0, 0);
}

.box {
  width: 700px;
  height: 400px;
  background: #5f5f5f7a;
  display: flex;
  justify-content: center;
  margin-left: 25rem;
}
/* BITCOIN */

.titleBitcoin {
  font-family: var(--primary-font);
  text-transform: uppercase;
}

p {
  font-family: var(--secondary-font);
  font-size: large;
}

/* Footer */

footer {
  background-color: #000000;
  padding: .5rem;
  margin-top: 8rem;
}

.containerFooter {
  display: flex;
  justify-content: center;
  align-items: center;
}
